[data-bs-theme="dark"] {
  --theme-color-0: #00002800;
  --theme-color-1: #000028;
  --theme-color-1-rgb: 0, 0, 40;
  --theme-color-2: #23233c;
  --theme-color-3: #23233c;
  --theme-color-4: #23233c;
  --theme-color-5: #565667;
  --theme-color-6: #666675;
  --theme-color-7: #777784;
  --theme-color-8: #dedee3;
  --theme-color-code: rgba(255, 255, 255, 0.25);
  --theme-color-std-bdr: #e8e8e38c;
  --theme-color-soft-bdr: #ebf0f566;
  --theme-color-weak-bdr: #e8e8e326;
  --theme-color-x-weak-bdr: #9c9c9626;
  --theme-color-focus-bdr: #1491eb;
  --theme-color-contrast-bdr: #fff;
  --theme-color-hard-bdr: #b3b3be;
  --theme-color-alarm-bdr: #ff2640;
  --theme-color-warning-bdr: #ffd732;
  --theme-color-ghost: #00001c00;
  --theme-color-ghost-primary--active: #00805226;
  --theme-color-ghost-primary--hover: #00ffb91f;
  --theme-color-primary: #0cc;
  --theme-color-primary--contrast: #000028;
  --theme-color-primary--hover: #00ffb9;
  --theme-color-primary--active: #00e5aa;
  --theme-color-primary--disabled: #00cccc73;
  --theme-color-dynamic: #00ffb9;
  --theme-color-dynamic-rgb: 0, 255, 185;
  --theme-color-dynamic--hover: #62eec7;
  --theme-color-dynamic--active: #5ce0bc;
  --theme-color-dynamic-alt: #00ffb9;
  --theme-color-dynamic-alt--hover: #62eec7;
  --theme-color-dynamic-alt--active: #5ce0bc;
  --theme-color-secondary: #00002800;
  --theme-color-secondary--hover: #001c31;
  --theme-color-secondary--active: #00002800;
  --theme-color-component-2: #ffffff26;
  --theme-color-component-3: #ffffff4d;
  --theme-color-component-4: #ffffff73;
  --theme-color-component-5: #fff9;
  --theme-color-component-6: #ffffffbf;
  --theme-color-component-7--hover: #196269;
  --theme-color-component-7: #00ffb926;
  --theme-color-component-7--active: #16565c;
  --theme-color-component-error: #331131;
  --theme-color-component-warning: #4b433a;
  --theme-color-component-info: #062c63;
  --theme-color-component-8--hover: #001f39;
  --theme-color-component-8: #00183b;
  --theme-color-component-9: #00ffb9;
  --theme-color-component-9--hover: #52ffcf;
  --theme-color-component-9--active: #00f5b2;
  --theme-color-component-9--disabled: #00ffb94d;
  --theme-color-component-10: #00ffb9bf;
  --theme-color-component-10--hover: #6bffd699;
  --theme-color-component-10--active: #00f5b299;
  --theme-color-component-10--disabled: #00ffb933;
  --theme-color-1--hover: #333353;
  --theme-color-1--active: #40405e;
  --theme-color-component-11: #56566733;
  --theme-color-alarm: #ff2640;
  --theme-color-alarm--hover: #ff4259;
  --theme-color-alarm--active: #ff1431;
  --theme-color-alarm--contrast: #000028;
  --theme-color-alarm-40: #ff264066;
  --theme-color-alarm-10: #ff26401a;
  --theme-color-warning: #ffd732;
  --theme-color-warning--hover: #ffdd52;
  --theme-color-warning--active: #ffd424;
  --theme-color-warning--contrast: #000028;
  --theme-color-warning-40: #ffd73266;
  --theme-color-warning-10: #ffd7321a;
  --theme-color-critical: #ff9000;
  --theme-color-critical--hover: #ff9b1a;
  --theme-color-critical--active: #f08700;
  --theme-color-critical--contrast: #000028;
  --theme-color-critical-40: #ff900066;
  --theme-color-success: #01d65a;
  --theme-color-success--hover: #01ea62;
  --theme-color-success--active: #01c151;
  --theme-color-success--contrast: #000028;
  --theme-color-success-40: #01d65a66;
  --theme-color-info: #00bedc;
  --theme-color-info--hover: #00cff0;
  --theme-color-info--active: #00b5d1;
  --theme-color-info--contrast: #000028;
  --theme-color-info-40: #00bedc66;
  --theme-color-neutral: #b9b9b6;
  --theme-color-neutral--hover: #cbcbc8;
  --theme-color-neutral--active: #afafac;
  --theme-color-neutral--contrast: #000028;
  --theme-color-neutral-40: #b9b9b666;
  --theme-color-contrast-text: #fff;
  --theme-color-std-text: #fff;
  --theme-color-soft-text: #fff9;
  --theme-color-weak-text: #ffffff73;
  --theme-color-inv-contrast-text: #000;
  --theme-color-inv-std-text: #000028;
  --theme-color-inv-soft-text: #000028a6;
  --theme-color-inv-weak-text: #0000284d;
  --theme-color-alarm-text: #ff7687;
  --theme-color-warning-text: #ffd732;
  --theme-color-lightbox: #000028a6;
  --theme-color-backdrop: #000028d9;
  --theme-color-backdrop-3: #37374dd9;
  --theme-color-shadow-1: #0009;
  --theme-color-shadow-3: #0009;
  --theme-color-shadow-2: #000;
  --theme-color-gradient-effect-1: #00ffb9;
  --theme-color-gradient-effect-2: #0cc;
  --theme-color-logo: #fff;
  --theme-color-logo-login: #fff;
  --theme-chart-1: #00ffb9;
  --theme-chart-1-40: #00ffb966;
  --theme-chart-2: #85e9d2;
  --theme-chart-2-40: #85e9d266;
  --theme-chart-3: #00c1b6;
  --theme-chart-3-40: #00c1b666;
  --theme-chart-4: #ccf5f5;
  --theme-chart-4-40: #ccf5f566;
  --theme-chart-5: #7d8099;
  --theme-chart-5-40: #7d809966;
  --theme-chart-6: #6895f6;
  --theme-chart-6-40: #6895f666;
  --theme-chart-7: #97c7ff;
  --theme-chart-7-40: #97c7ff66;
  --theme-chart-8: #3664c6;
  --theme-chart-8-40: #3664c666;
  --theme-chart-9: #bfb0f3;
  --theme-chart-9-40: #bfb0f366;
  --theme-chart-10: #805cff;
  --theme-chart-10-40: #805cff66;
  --theme-chart-11: #b95cc9;
  --theme-chart-11-40: #b95cc966;
  --theme-chart-12: #e5659b;
  --theme-chart-12-40: #e5659b66;
  --theme-chart-13: #ff98c4;
  --theme-chart-13-40: #ff98c466;
  --theme-chart-14: #be5925;
  --theme-chart-14-40: #be592566;
  --theme-chart-15: #ffbc66;
  --theme-chart-15-40: #ffbc6666;
  --theme-chart-16: #fff7d6;
  --theme-chart-16-40: #fff7d666;
  --theme-chart-17: #aaaa96;
  --theme-chart-17-40: #abab9666;
  --theme-chart-axes: #ffffff4d;
  --theme-chart-grid-lines: #ffffff1a;
  --theme-chart-grid-fill: #23233c;
  --theme-chart-ticks: #ffffff59;
  --theme-chart-tooltip-fill: #000028cc;
  --theme-chart-tooltip-bdr: #ffffff40;
  --theme-font-sans: "Siemens Sans";
  --theme-font-code: "JetBrains Mono";
  --theme-company-logo: company-logo;
  --theme-color-ghost--hover: var(--theme-color-1--hover);
  --theme-color-ghost--active: var(--theme-color-1--active);
  --theme-color-ghost--selected: var(--theme-color-1--active);
  --theme-color-ghost--selected-hover: var(--theme-color-1--hover);
  --theme-color-ghost--selected-active: var(--theme-color-1--active);
  --theme-color-ghost-alt: var(--theme-color-2);
  --theme-color-ghost-alt--hover: var(--theme-color-1--hover);
  --theme-color-ghost-alt--active: var(--theme-color-1--active);
  --theme-color-ghost-alt--selected: var(--theme-color-1--active);
  --theme-color-ghost-alt--selected-hover: var(--theme-color-1--hover);
  --theme-color-ghost-alt--selected-active: var(--theme-color-1--active);
  --theme-color-component-1: var(--theme-color-2);
  --theme-color-component-1--hover: var(--theme-color-1--hover);
  --theme-color-component-1--active: var(--theme-color-1--active);
  --theme-label: 400 0.875rem/1.2 "Siemens Sans";
  --theme-label-lg: 400 1rem/1.2 "Siemens Sans";
  --theme-label-sm: 400 0.75rem/1.2 "Siemens Sans";
  --theme-label-xs: 400 0.625rem/1.2 "Siemens Sans";
  --theme-body: 400 0.875rem/1.43 "Siemens Sans";
  --theme-body-xs: 400 0.625rem/1.5 "Siemens Sans";
  --theme-body-sm: 400 0.75rem/1.5 "Siemens Sans";
  --theme-body-lg: 400 1rem/1.5 "Siemens Sans";
  --theme-display: 400 1.5rem/1 "Siemens Sans";
  --theme-display-xs: 400 1rem/1 "Siemens Sans";
  --theme-display-sm: 400 1.25rem/1 "Siemens Sans";
  --theme-display-lg: 400 1.8125rem/1 "Siemens Sans";
  --theme-display-xl: 700 2.1875rem/1 "Siemens Sans";
  --theme-display-xxl: 700 2.625rem/1 "Siemens Sans";
  --theme-h6: 700 0.75rem/1.5 "Siemens Sans";
  --theme-h5: 700 0.875rem/1.43 "Siemens Sans";
  --theme-h4: 700 1rem/1.5 "Siemens Sans";
  --theme-h3: 700 1.25rem/1.5 "Siemens Sans";
  --theme-h2: 700 1.5rem/1.43 "Siemens Sans";
  --theme-h1: 700 1.8125rem/1.2 "Siemens Sans";
  --theme-code: 400 0.875rem/1.5 "JetBrains Mono";
  --theme-code-sm: 400 0.75rem/1.5 "JetBrains Mono";
  --theme-code-lg: 400 1rem/1.5 "JetBrains Mono";
  --theme-text-h2: 700 1.375rem/1.455 "Siemens Sans";
  --theme-text-xl: 400 1.375rem/1.091 "Siemens Sans";
  --theme-text-l-title: 700 1rem/1.5 "Siemens Sans";
  --theme-text-l-title-single: 700 1rem/1.25 "Siemens Sans";
  --theme-text-l: 400 1rem/1.5 "Siemens Sans";
  --theme-text-l-single: 400 1rem/1.25 "Siemens Sans";
  --theme-text-default-underline: 400 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-title: 700 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-title-single: 700 0.875rem/1.143 "Siemens Sans";
  --theme-text-default: 400 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-single: 400 0.875rem/1.143 "Siemens Sans";
  --theme-text-caption: 700 0.75rem/1.5 "Siemens Sans";
  --theme-text-caption-single: 700 0.75rem/1 "Siemens Sans";
  --theme-text-s: 400 0.75rem/1.5 "Siemens Sans";
  --theme-text-s-single: 400 0.75rem/1.5 "Siemens Sans";
  --theme-text-xs: 400 0.625rem/1.4 "Siemens Sans";
  --theme-shadow-1: 0 2px 2px 0 #000, 0 1px 1px 0 #0009;
  --theme-shadow-2: -4px 0 8px 0 #000, 4px 0 8px 0 #000, 0 0 16px 0 #0009;
  --theme-shadow-3: 0 2px 6px 0 #000, 0 0 8px 0 #0009;
  --theme-shadow-4: 0 0 2px 0 #000, 0 4px 8px 0 #0009, 0 12px 18px 0 #0009;
  --theme-inset-shadow-1: inset 0 2px 4px 0 #0009;
  --theme-primary-bdr-1: 0.0625rem solid var(--theme-color-primary);
  --theme-primary-bdr-2: 0.125rem solid var(--theme-color-primary);
  --theme-dynamic-bdr-1: 0.0625rem solid var(--theme-color-dynamic);
  --theme-dynamic-bdr-2: 0.125rem solid var(--theme-color-dynamic);
  --theme-contrast-bdr-1: 0.0625rem solid var(--theme-color-contrast-bdr);
  --theme-contrast-bdr-2: 0.125rem solid var(--theme-color-contrast-bdr);
  --theme-std-bdr-1: 0.0625rem solid var(--theme-color-std-bdr);
  --theme-std-bdr-2: 0.125rem solid var(--theme-color-std-bdr);
  --theme-soft-bdr-1: 0.0625rem solid var(--theme-color-soft-bdr);
  --theme-soft-bdr-2: 0.125rem solid var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-1: 0.0625rem dashed var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-2: 0.125rem dashed var(--theme-color-soft-bdr);
  --theme-weak-bdr-1: 0.0625rem solid var(--theme-color-weak-bdr);
  --theme-weak-bdr-2: 0.125rem solid var(--theme-color-weak-bdr);
  --theme-x-weak-bdr-1: 0.0625rem solid var(--theme-color-x-weak-bdr);
  --theme-x-weak-bdr-2: 0.125rem solid var(--theme-color-x-weak-bdr);
  --theme-alarm-bdr-1: 0.0625rem solid var(--theme-color-alarm);
  --theme-alarm-bdr-2: 0.125rem solid var(--theme-color-alarm);
  --theme-critical-bdr-1: 0.0625rem solid var(--theme-color-critical);
  --theme-critical-bdr-2: 0.125rem solid var(--theme-color-critical);
  --theme-warning-bdr-1: 0.0625rem solid var(--theme-color-warning);
  --theme-warning-bdr-2: 0.125rem solid var(--theme-color-warning);
  --theme-success-bdr-1: 0.0625rem solid var(--theme-color-success);
  --theme-success-bdr-2: 0.125rem solid var(--theme-color-success);
  --theme-info-bdr-1: 0.0625rem solid var(--theme-color-info);
  --theme-info-bdr-2: 0.125rem solid var(--theme-color-info);
  --theme-neutral-bdr-1: 0.0625rem solid var(--theme-color-neutral);
  --theme-neutral-bdr-2: 0.125rem solid var(--theme-color-neutral)
}

[data-bs-theme="dark"] #logo {
  content: url("../../images/logo-dark.svg");
}