[data-bs-theme="light"] {
  --theme-color-0: #fff0;
  --theme-color-1: #f6f6f4;
  --theme-color-1-rgb: 246, 246, 244;
  --theme-color-2: #fff;
  --theme-color-3: #fff;
  --theme-color-4: #fff;
  --theme-color-5: #d7d7d0;
  --theme-color-6: #cecec8;
  --theme-color-7: #c8c8c2;
  --theme-color-8: #8d8da0;
  --theme-color-code: rgba(0, 0, 0, 0.15);
  --theme-color-std-bdr: #0000284d;
  --theme-color-soft-bdr: #00002833;
  --theme-color-weak-bdr: #23233c26;
  --theme-color-x-weak-bdr: #bcbcae33;
  --theme-color-focus-bdr: #1491eb;
  --theme-color-contrast-bdr: #000028;
  --theme-color-hard-bdr: #4c4c68;
  --theme-color-alarm-bdr: #d72339;
  --theme-color-warning-bdr: #a38200;
  --theme-color-ghost: #00002800;
  --theme-color-ghost-primary--active: #00cf9633;
  --theme-color-ghost-primary--hover: #00ffb92e;
  --theme-color-primary: #00738a;
  --theme-color-primary--contrast: #fff;
  --theme-color-primary--hover: #196269;
  --theme-color-primary--active: #16565c;
  --theme-color-primary--disabled: #00738a4d;
  --theme-color-dynamic: #005159;
  --theme-color-dynamic-rgb: 0, 81, 89;
  --theme-color-dynamic--hover: #125d65;
  --theme-color-dynamic--active: #105259;
  --theme-color-dynamic-alt: #00ffb9;
  --theme-color-dynamic-alt--hover: #62eec7;
  --theme-color-dynamic-alt--active: #5ce0bc;
  --theme-color-secondary: #fff0;
  --theme-color-secondary--hover: #d1fff2;
  --theme-color-secondary--active: #fff0;
  --theme-color-component-2: #0000281f;
  --theme-color-component-3: #00002833;
  --theme-color-component-4: #0000284d;
  --theme-color-component-5: #00002873;
  --theme-color-component-6: #00002899;
  --theme-color-component-7--hover: #00ffb9;
  --theme-color-component-7: #00ffb926;
  --theme-color-component-7--active: #00f2b0;
  --theme-color-component-error: #fcccd7;
  --theme-color-component-warning: #ffeea8;
  --theme-color-component-info: #d0e9fb;
  --theme-color-component-8--hover: #d1fff2;
  --theme-color-component-8: #ebf7f8;
  --theme-color-component-9: #0b6165;
  --theme-color-component-9--hover: #005d66;
  --theme-color-component-9--active: #00464d;
  --theme-color-component-9--disabled: #0b61654d;
  --theme-color-component-10: #005159bf;
  --theme-color-component-10--hover: #005d66bf;
  --theme-color-component-10--active: #00464dbf;
  --theme-color-component-10--disabled: #00515926;
  --theme-color-1--hover: #f2f2f2;
  --theme-color-1--active: #e5e5e5;
  --theme-color-component-11: #d7d7d033;
  --theme-color-alarm: #d72339;
  --theme-color-alarm--hover: #c11f33;
  --theme-color-alarm--active: #b41d30;
  --theme-color-alarm--contrast: #fff;
  --theme-color-alarm-40: #d7233966;
  --theme-color-alarm-10: #d723391a;
  --theme-color-warning: #ebc93f;
  --theme-color-warning--hover: #e5bd19;
  --theme-color-warning--active: #d4b026;
  --theme-color-warning--contrast: #000028;
  --theme-color-warning-40: #ebc93f66;
  --theme-color-warning-10: #ebc93f1a;
  --theme-color-critical: #c75300;
  --theme-color-critical--hover: #b84d00;
  --theme-color-critical--active: #a34400;
  --theme-color-critical--contrast: #fff;
  --theme-color-critical-40: #c7530066;
  --theme-color-success: #01893a;
  --theme-color-success--hover: #017a33;
  --theme-color-success--active: #016f2f;
  --theme-color-success--contrast: #fff;
  --theme-color-success-40: #01893a66;
  --theme-color-info: #007eb1;
  --theme-color-info--hover: #00719e;
  --theme-color-info--active: #006994;
  --theme-color-info--contrast: #fff;
  --theme-color-info-40: #007eb166;
  --theme-color-neutral: #66667e;
  --theme-color-neutral--hover: #5b5b71;
  --theme-color-neutral--active: #545468;
  --theme-color-neutral--contrast: #fff;
  --theme-color-neutral-40: #66667e66;
  --theme-color-contrast-text: #000028;
  --theme-color-std-text: #000028;
  --theme-color-soft-text: #00002899;
  --theme-color-weak-text: #0000284d;
  --theme-color-inv-contrast-text: #fff;
  --theme-color-inv-std-text: #fff;
  --theme-color-inv-soft-text: #fff9;
  --theme-color-inv-weak-text: #ffffff73;
  --theme-color-alarm-text: #b81e31;
  --theme-color-warning-text: #a38200;
  --theme-color-lightbox: #f6f6f4a6;
  --theme-color-backdrop: #f6f6f4d9;
  --theme-color-backdrop-3: #f6f6f4d9;
  --theme-color-shadow-1: #0000281a;
  --theme-color-shadow-3: #0000281a;
  --theme-color-shadow-2: #00002833;
  --theme-color-gradient-effect-1: #00738a;
  --theme-color-gradient-effect-2: #005159;
  --theme-color-logo: #099;
  --theme-color-logo-login: #099;
  --theme-chart-1: #1a747d;
  --theme-chart-1-40: #1a747d66;
  --theme-chart-2: #005159;
  --theme-chart-2-40: #00515966;
  --theme-chart-3: #099;
  --theme-chart-3-40: #0996;
  --theme-chart-4: #002949;
  --theme-chart-4-40: #00294966;
  --theme-chart-5: #4c4c68;
  --theme-chart-5-40: #4c4c6866;
  --theme-chart-6: #3664c6;
  --theme-chart-6-40: #3664c666;
  --theme-chart-7: #00237a;
  --theme-chart-7-40: #00237a66;
  --theme-chart-8: #00004a;
  --theme-chart-8-40: #00004a66;
  --theme-chart-9: #553ba3;
  --theme-chart-9-40: #553ba366;
  --theme-chart-10: #7353e5;
  --theme-chart-10-40: #7353e566;
  --theme-chart-11: #740089;
  --theme-chart-11-40: #74008966;
  --theme-chart-12: #c04774;
  --theme-chart-12-40: #c0477466;
  --theme-chart-13: #4f153d;
  --theme-chart-13-40: #4f153d66;
  --theme-chart-14: #be5925;
  --theme-chart-14-40: #be592566;
  --theme-chart-15: #801100;
  --theme-chart-15-40: #80110066;
  --theme-chart-16: #805800;
  --theme-chart-16-40: #80580066;
  --theme-chart-17: #5e5e4a;
  --theme-chart-17-40: #5e5e4a66;
  --theme-chart-axes: #0000284d;
  --theme-chart-grid-lines: #0000281a;
  --theme-chart-grid-fill: #fff;
  --theme-chart-ticks: #0000284d;
  --theme-chart-tooltip-fill: #fffc;
  --theme-chart-tooltip-bdr: #00002833;
  --theme-font-sans: "Siemens Sans";
  --theme-font-code: "JetBrains Mono";
  --theme-company-logo: company-logo;
  --theme-color-ghost--hover: var(--theme-color-1--hover);
  --theme-color-ghost--active: var(--theme-color-1--active);
  --theme-color-ghost--selected: var(--theme-color-1--active);
  --theme-color-ghost--selected-hover: var(--theme-color-1--hover);
  --theme-color-ghost--selected-active: var(--theme-color-1--active);
  --theme-color-ghost-alt: var(--theme-color-2);
  --theme-color-ghost-alt--hover: var(--theme-color-1--hover);
  --theme-color-ghost-alt--active: var(--theme-color-1--active);
  --theme-color-ghost-alt--selected: var(--theme-color-1--active);
  --theme-color-ghost-alt--selected-hover: var(--theme-color-1--hover);
  --theme-color-ghost-alt--selected-active: var(--theme-color-1--active);
  --theme-color-component-1: var(--theme-color-2);
  --theme-color-component-1--hover: var(--theme-color-1--hover);
  --theme-color-component-1--active: var(--theme-color-1--active);
  --theme-label: 400 0.875rem/1.2 "Siemens Sans";
  --theme-label-lg: 400 1rem/1.2 "Siemens Sans";
  --theme-label-sm: 400 0.75rem/1.2 "Siemens Sans";
  --theme-label-xs: 400 0.625rem/1.2 "Siemens Sans";
  --theme-body: 400 0.875rem/1.43 "Siemens Sans";
  --theme-body-xs: 400 0.625rem/1.5 "Siemens Sans";
  --theme-body-sm: 400 0.75rem/1.5 "Siemens Sans";
  --theme-body-lg: 400 1rem/1.5 "Siemens Sans";
  --theme-display: 400 1.5rem/1 "Siemens Sans";
  --theme-display-xs: 400 1rem/1 "Siemens Sans";
  --theme-display-sm: 400 1.25rem/1 "Siemens Sans";
  --theme-display-lg: 400 1.8125rem/1 "Siemens Sans";
  --theme-display-xl: 700 2.1875rem/1 "Siemens Sans";
  --theme-display-xxl: 700 2.625rem/1 "Siemens Sans";
  --theme-h6: 700 0.75rem/1.5 "Siemens Sans";
  --theme-h5: 700 0.875rem/1.43 "Siemens Sans";
  --theme-h4: 700 1rem/1.5 "Siemens Sans";
  --theme-h3: 700 1.25rem/1.5 "Siemens Sans";
  --theme-h2: 700 1.5rem/1.43 "Siemens Sans";
  --theme-h1: 700 1.8125rem/1.2 "Siemens Sans";
  --theme-code: 400 0.875rem/1.5 "JetBrains Mono";
  --theme-code-sm: 400 0.75rem/1.5 "JetBrains Mono";
  --theme-code-lg: 400 1rem/1.5 "JetBrains Mono";
  --theme-text-h2: 700 1.375rem/1.455 "Siemens Sans";
  --theme-text-xl: 400 1.375rem/1.091 "Siemens Sans";
  --theme-text-l-title: 700 1rem/1.5 "Siemens Sans";
  --theme-text-l-title-single: 700 1rem/1.25 "Siemens Sans";
  --theme-text-l: 400 1rem/1.5 "Siemens Sans";
  --theme-text-l-single: 400 1rem/1.25 "Siemens Sans";
  --theme-text-default-underline: 400 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-title: 700 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-title-single: 700 0.875rem/1.143 "Siemens Sans";
  --theme-text-default: 400 0.875rem/1.429 "Siemens Sans";
  --theme-text-default-single: 400 0.875rem/1.143 "Siemens Sans";
  --theme-text-caption: 700 0.75rem/1.5 "Siemens Sans";
  --theme-text-caption-single: 700 0.75rem/1 "Siemens Sans";
  --theme-text-s: 400 0.75rem/1.5 "Siemens Sans";
  --theme-text-s-single: 400 0.75rem/1.5 "Siemens Sans";
  --theme-text-xs: 400 0.625rem/1.4 "Siemens Sans";
  --theme-shadow-1: 0 2px 2px 0 #00002833, 0 1px 1px 0 #0000281a;
  --theme-shadow-2: -4px 0 8px 0 #00002833, 4px 0 8px 0 #00002833, 0 0 16px 0 #0000281a;
  --theme-shadow-3: 0 2px 6px 0 #00002833, 0 0 8px 0 #0000281a;
  --theme-shadow-4: 0 0 2px 0 #00002833, 0 4px 8px 0 #0000281a, 0 12px 18px 0 #0000281a;
  --theme-inset-shadow-1: inset 0 2px 4px 0 #0000281a;
  --theme-primary-bdr-1: 0.0625rem solid var(--theme-color-primary);
  --theme-primary-bdr-2: 0.125rem solid var(--theme-color-primary);
  --theme-dynamic-bdr-1: 0.0625rem solid var(--theme-color-dynamic);
  --theme-dynamic-bdr-2: 0.125rem solid var(--theme-color-dynamic);
  --theme-contrast-bdr-1: 0.0625rem solid var(--theme-color-contrast-bdr);
  --theme-contrast-bdr-2: 0.125rem solid var(--theme-color-contrast-bdr);
  --theme-std-bdr-1: 0.0625rem solid var(--theme-color-std-bdr);
  --theme-std-bdr-2: 0.125rem solid var(--theme-color-std-bdr);
  --theme-soft-bdr-1: 0.0625rem solid var(--theme-color-soft-bdr);
  --theme-soft-bdr-2: 0.125rem solid var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-1: 0.0625rem dashed var(--theme-color-soft-bdr);
  --theme-soft-dashed-bdr-2: 0.125rem dashed var(--theme-color-soft-bdr);
  --theme-weak-bdr-1: 0.0625rem solid var(--theme-color-weak-bdr);
  --theme-weak-bdr-2: 0.125rem solid var(--theme-color-weak-bdr);
  --theme-x-weak-bdr-1: 0.0625rem solid var(--theme-color-x-weak-bdr);
  --theme-x-weak-bdr-2: 0.125rem solid var(--theme-color-x-weak-bdr);
  --theme-alarm-bdr-1: 0.0625rem solid var(--theme-color-alarm);
  --theme-alarm-bdr-2: 0.125rem solid var(--theme-color-alarm);
  --theme-critical-bdr-1: 0.0625rem solid var(--theme-color-critical);
  --theme-critical-bdr-2: 0.125rem solid var(--theme-color-critical);
  --theme-warning-bdr-1: 0.0625rem solid var(--theme-color-warning);
  --theme-warning-bdr-2: 0.125rem solid var(--theme-color-warning);
  --theme-success-bdr-1: 0.0625rem solid var(--theme-color-success);
  --theme-success-bdr-2: 0.125rem solid var(--theme-color-success);
  --theme-info-bdr-1: 0.0625rem solid var(--theme-color-info);
  --theme-info-bdr-2: 0.125rem solid var(--theme-color-info);
  --theme-neutral-bdr-1: 0.0625rem solid var(--theme-color-neutral);
  --theme-neutral-bdr-2: 0.125rem solid var(--theme-color-neutral)
}

[data-bs-theme="light"] #logo {
  content: url("../../images/logo-light.svg");
}